/* Default Dark Mode */


/* TEXT */
$defaultBtnTxtColor: #FFF;
$defaultTxtColor: #D4D4D4;
$secundaryTxtColor: #ACACAC;
$placeholderColor: #737373;
$contrastTextColor: #151515;

/* BACKGROUND COLOR */
$defaultBgColor: #111;
$secundaryBgColor: #111;
$domineColor: #00C614;

/* BUTTON COLOR */
$defaultBntColor: #343a40;

/* BOX */
$defaultShadowColor: #201F1F;
